#root {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#layout{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:auto auto auto ;
    grid-area: 
    header
    content
    footer
}
#layout header{
    grid-area: header;
    background-color: white;
}
#layout main{
    grid-area: content;
    background-color: white;
}
#layout footerr{
    grid-area: footer;
    background-color: white;
}
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#cards h1{
    text-align: center;
    margin:2em 0em;
}
#cards section{
    flex: 0 1 100%;
   
    border: 1px solid black;
}

#cards section.s1{
    background-color: blueviolet;
}

#cards section.s2{
    background-color: brown;
}
header h2{
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 2em;
    text-align: center;
    color: lightgray;

}
header img{
    
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #root {
        width: 100%;

    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #root {
        width: 100%;

    }
    #cards section{
        flex: 0 1 50%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #root {
        width: 100%;

    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #root {
        width: 100%;

    }
    #cards section{
        flex: 0 1 33%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #root {
        width: 100%;

    }
}